<mat-toolbar class="toolbar">
  <span routerLink="/"><img id="home" src="./../../assets/ic_gamepad.svg"></span>
  <span *ngFor="let item of arrRoutes">
    <a class="nav-link"
       routerLink="{{item.link}}">
      {{item.name}}</a>
  </span>
</mat-toolbar>
<div class="load">
  <app-load-progress></app-load-progress>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>

