<mat-card class="container">
  <mat-card-header *ngIf="questions.length">
    <div class="question">
      <img src="./../../assets/question.svg">
      {{questions[indexQuestion].text}}
    </div>
  </mat-card-header>
  <hr>
  <mat-card-content>
    <div *ngFor="let answer of questions[indexQuestion]?.answers; let i = index">
      <div class="answers">
        <mat-radio-group class="example-radio-group" [(ngModel)]="questions[indexQuestion].checked">
          <mat-radio-button
            class="example-radio-button"
            [id]="i"
            name = "answer"
            [value]="answer"
            (change)="onSelectItem(indexQuestion, i)">
            {{answer}}
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <div class="buttons">
      <button
        mat-raised-button color="primary"
        [disabled]="indexQuestion === 0 || completed"
        (click)="onPrevious()">Previous
      </button>
      <button
        mat-raised-button color="primary"
        *ngIf="indexQuestion !== questions.length - 1"
        (click)="onNext()">Next
      </button>
      <button
        mat-raised-button color="accent"
        *ngIf="indexQuestion === questions.length - 1"
        (click)="showResult()">Done
      </button>
    </div>
  </mat-card-actions>
    <div class="result" *ngIf="completed">Your result: <b>{{total}}</b> / 100</div>
</mat-card>
